<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzeria Don Remolo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400;500&display=swap" rel="stylesheet">
    <!-- font-family: 'Lexend Deca', sans-serif; -->
  </head>
  <body>

      <!--* Comienzo de proyecto seba -->

      <header class="herader">

          <div class="header-container-uno">

            <img src="./assets/icons/Logo.svg" alt="logo" class="container-uno__icon"> 
            
            <div class="container-uno-direcciones">
              
              <p class="container-uno-direcciones__paraffo">Entragar en</p>
              <div class="f">
              <button class="container-uno-direcciones__icon"></button>  

              <!-- <img src="./assets/icons/map_navar.svg" alt="map icon" class="container-uno-direcciones__icon"> -->

              <select name="direcciones" class="container-uno-direcciones__select">

                <option value="1">Belgrano 574,Buenos Aires</option>
                <option value="2">Libertad 1253,Garin</option>
                <option value="3">Belgrano 575,Buenos Aires</option>

              </select>

            </div>
            </div>

          </div>

          <button class="header-boton__despla" id="boton-despla"></button>

          <div class="header-contenedor" id="header-contendor-search">
            
            <img src="./assets/icons/Search_Icon.svg" alt="search icono" class="heder-icon-search">
            <input type="search" name="search" id="search" class="heaader-search" placeholder="Buscar productos...">
            
          </div>

          <button class="heaader-button" id="heaader-button">0</button>

      </header>

  
      <main>

        <div class="main-conatiner-hero">

          <img src="./assets/img/HeroImage.png" alt="hero imagen" class="main-conatiner-hero__img-hero">

        </div>

        
        <section class="mian-section-uno">

          <header class="mian-section-uno-header">

            <h1 class="section-header__titulo">Productos</h1>

            <nav class="section-header-nav">

              <ul class="header-nav-ul">
  
                <li class="nav-ul-li"><button class="nav-ul-li-button">PIZZAS</button></li>
                <li class="nav-ul-li"><button class="nav-ul-li-button">EMPANADAS</button></li>
                <li class="nav-ul-lcdi"><button class="nav-ul-li-button">BEBIDAS</button></li>
                <li class="nav-ul-li"><button class="nav-ul-li-button">POSTRES</button></li>
  
              </ul>
              

            </nav>

          </header>

        </section>

        <section class="main-section">

          <h2 class="main-section__subtitulo">Pizzas</h2>

          <div class="flex">

              <article class="main-section-article">

                <div class="main-section-article__contenido color-contenido-pizza">Pizzas</div>

                <header class="article-header">

                  <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

                </header>

                <footer class="section-article-footer">

                  <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                  <strong class="article-footer__strong">Salsa,muzzarella ,<br>aceintuna,oregono</strong>

                  <p  class="article-footer__parrafo">$500</p> 
                   
                  <button class="article-footer__button">AGREGAR</button> 

                </footer>
                
              </article>  


              <article class="main-section-article">

                <div class="main-section-article__contenido color-contenido-pizza">Pizzas</div>

                <header class="article-header">

                  <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

                </header>

                <footer class="section-article-footer">

                  <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                  <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                  <p  class="article-footer__parrafo">$500</p>

                  <button class="article-footer__button">AGREGAR</button> 

                </footer>

              </article>


              <article class="main-section-article">  

                <div class="main-section-article__contenido color-contenido-pizza">Pizzas</div>

                <header class="article-header">

                  <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

                </header>

                <footer class="section-article-footer">

                  <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                  <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                  <p  class="article-footer__parrafo">$500</p>

                  <button class="article-footer__button">AGREGAR</button> 

                </footer>

              </article>


              <article class="main-section-article">

                <div class="main-section-article__contenido color-contenido-pizza">Pizzas</div>

                <header class="article-header">

                  <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

                </header>

                <footer class="section-article-footer">

                  <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                  <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                  <p  class="article-footer__parrafo">$500</p>

                  <button class="article-footer__button">AGREGAR</button> 

                </footer>

              </article>


              <article class="main-section-article">

                <div class="main-section-article__contenido color-contenido-pizza">Pizzas</div>

                <header class="article-header">

                  <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

                </header>

                <footer class="section-article-footer">

                  <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                  <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                  <p  class="article-footer__parrafo">$500</p>

                  <button class="article-footer__button">AGREGAR</button> 

                </footer>

              </article>


              <article class="main-section-article">

                <div class="main-section-article__contenido color-contenido-pizza">Pizzas</div>

                <header class="article-header">

                  <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

                </header>

                <footer class="section-article-footer">

                  <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                  <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                  <p  class="article-footer__parrafo">$500</p>

                  <button class="article-footer__button">AGREGAR</button> 

                </footer>

              </article>


              <article class="main-section-article">

                <div class="main-section-article__contenido color-contenido-pizza">Pizzas</div>

                <header class="article-header">

                  <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

                </header>

                <footer class="section-article-footer">

                  <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                  <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                  <p  class="article-footer__parrafo">$500</p>

                  <button class="article-footer__button">AGREGAR</button> 

                </footer>

              </article>


              <article class="main-section-article">

                <div class="main-section-article__contenido color-contenido-pizza">Pizzas</div>

                <header class="article-header">

                  <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

                </header>

                <footer class="section-article-footer">

                  <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                  <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                  <p  class="article-footer__parrafo">$500</p>

                  <button class="article-footer__button">AGREGAR</button> 

                </footer>

              </article>

            </div>

        </section>

        <section class="main-section">

          <h2 class="main-section__subtitulo">Empanadas</h2>

          <div class="flex">

            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-empanada">Empanadas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-empanada">Empanadas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-empanada">Empanadas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-empanada">Empanadas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-empanada">Empanadas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-empanada">Empanadas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-empanada">Empanadas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-empanada">Empanadas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

          </div>    

        </section>


        <section class="main-section">

          <h2 class="main-section__subtitulo">Bebidas</h2>

          <div class="flex">

            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-bebidas">Bebidas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>
                
                <button class="article-footer__button">AGREGAR</button>
                
              </footer>
              
              
            </article>

            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-bebidas">Bebidas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-bebidas">Bebidas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-bebidas">Bebidas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-bebidas">Bebidas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-bebidas">Bebidas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-bebidas">Bebidas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-bebidas">Bebidas</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

          </div>    

        </section>

        <section class="main-section">

          <h2 class="main-section__subtitulo">Postres</h2>

          <div class="flex">

            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-postres">Postres</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-postres">Postres</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-postres">Postres</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-postres">Postres</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-postres">Postres</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

              </footer>

            </article>



            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-postres">Postres</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-postres">Postres</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>


            <article class="main-section-article">

              <div class="main-section-article__contenido color-contenido-postres">Postres</div>

              <header class="article-header">

                <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

              </header>

              <footer class="section-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,<br>aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

          </div>

        </section>

      </main>

      <aside class="aside" id="aside">
        
        
        <h2 class="aside-subtitulo">Mi carrito</h2>
        
          <hr>
        <section class="aside-section">

          <h3 class="aside-section__h3">Su carrito esta vacio</h3>
          
          <p class="aside-section__p">Para seguir comprando, navege por las categorias en el sitio, o busque su producto</p>

   <!--  <article class="aside-section-article">

            <header class="aside-section-article-header">

              <div class="aside-article-header-container-uno">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" clas="aside-header-container-uno__img">

              </div>

              <div class="aside-header-container-dos">

                <h3 class="aside-header-container-dos__h3">Pizza Muzzarella</h3>

                <b class="aside-header-container-dos__b">Ingredientes:</b>

                <p class="aside-header-container-dos__p">Salsa,muzzarella,aceitunas,oregano</p>

            </div>

            </header>

            <footer class="aside-section-footer">

              <div class="aside-footer-container-uno">

                <button class="aside-container-uno__button-menos"></button>

                <span class="aside-container-uno__span">0</span>

                <button class="aside-container-uno__button-mas"></button>

              </div>

              <div class="aside-footer-container-dos">
                <p class="aside-footer-container-dos__p">Total:</p><b>$500</b>
              </div>

            </footer>

          </article>
 -->


        </section>      
        <hr>

        <footer class="aside-footer">

          <!-- <div class="aside-footer-container">

            <p class="aside-footer-container__p">Subtotal:</p>

            <b>$1000,00</b>

          </div>
           -->
          <!-- <button class="aside-footer__boton">COMPRAR</button> -->

         <button class="aside-footer__button-eligir">ELEGIR PRODUCTOS</button> 

        </footer>

      </aside>
    
      <footer class="footer">

        <div class="footer-container-uno">

          <ul class="container-uno-ul">

            <li class="uno-ul-li"><strong class="ul-li__strong">Conocenos</strong></li>
            <li class="uno-ul-li"><a href="#" class="ul-li__enlace">¿Quienes somos?</a></li>
            <li class="uno-ul-li"><a href="#" class="ul-li__enlace">Cuidando lod detalles</a></li>
            <li class="uno-ul-li"><a href="#" class="ul-li__enlace">opiniones de los clientes</a></li>

          </ul>

          <ul class="container-uno-ul">

            <li class="uno-ul-li"><strong class="ul-li__strong">Ayuda</strong></li>
            <li class="uno-ul-li"><a href="#" class="ul-li__enlace">Servicio al cliente</a></li>
            <li class="uno-ul-li"><a href="#" class="ul-li__enlace">Cuidando lod detalles</a></li>
            <li class="uno-ul-li"><a href="#" class="ul-li__enlace">Contactos</a></li>

          </ul>

          <ul class="container-uno-ul">

            <li class="uno-ul-li"><strong class="ul-li__strong">Pedidos y delivery</strong></li>
            <li class="uno-ul-li"><a href="#" class="ul-li__enlace">¿Como funciona?</a></li>
            <li class="uno-ul-li"><a href="#" class="ul-li__enlace">Terminos de compra</a></li>
            

          </ul>

        </div>  

          <div class="footer-container-dos">

            <ul class="container-dos-ul">

              <li class="dos-ul-li"><img src="./assets/icons/Facebook Icon.svg" alt="facebook icono" class="ul-li__img"></li>
              <li class="dos-ul-li"><img src="./assets/icons/Pinterest Icon.svg" alt="pinteres icono" class="ul-li__img"></li>
              <li class="dos-ul-li"><img src="./assets/icons/Google Icon.svg" alt="google icono" class="ul-li__img"></li>
              <li class="dos-ul-li"><img src="./assets/icons/Twitter Icon.svg" alt="twitter icono" class="ul-li__img"></li>
              <li class="dos-ul-li"><img src="./assets/icons/Youtube Icon.svg" alt="youtube icono" class="ul-li__img"></li>

            </ul>

            <div class="footer-container-tres">
             <input type="email" name="foooter-search" id="foooter-search" class="container-tres__search" placeholder="Escribe tu mail para recibir ofertas">
              <button class="contianer-tres__button">SUSCRIBETE</button>
            </div>
          </div>

      </footer>


      <button class="button-preguntas"></button>      

      <div class="advertencia" id="advertencia">

        <p class="advertencia__parrafo">El pago es solo efectivo y el delivery a cargo de Don Remolo</p>

        <button class="advertencia__boton" id="boton">OK,ENTENDIDO</button>

      </div>

      <!--* ACA TERMINA LO DE SEBA XD -->


    <script type="module" src="./js/main.js"></script>
    <!-- <script type="nomodule"></script> -->
  </body> 
</html>
