<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria | Don Remolon</title>

    <link rel="stylesheet" href="./css/style.css">

</head>
<body> 
    
     <header class="header">    
         <h1 class="header-h1">Don Remolon</h1> 
     </header>  
     <main> 
         <section class="section">  

             <h2 class="section-h2">Menu</h2>   

                 <section class="section-pizza">    

                     <h2 class="pizza-h2">Pizzas</h2>

                     <div class="pizza-container">
                    
                         <section class="container-section" data-pizza="1">
                        
                             <header class="section-header">
                            
                                 <img src="./settings/img/scroll-pizza-1.png" alt="pizza" class="section-header__img">
                            
                             </header>
                         
                             <footer class="section-footer">
                            
                                 <h3 class="section-footer__h3">Pizza</h3>
                            
                                 <p class="section-footer__p">las pizzas mas ricas del mundo</p>
                                
                                 <strong class="section-footer__strong">120$</strong>

                                 <div class="footer-container">
                                
                                     <button class="footer-container__button-fill" id="btn-fill"></button>
                                
                                     <div class="footer-container__vista" id="pantalla"></div>
                                
                                     <button class="footer-container__button-plus" id="btn-plus"></button>
                                
                                 </div>
                             
                             </footer>
                         
                         </section> 
                         <section class="container-section" data-pizza="2">
                        
                             <header class="section-header">
                            
                                 <img src="./settings/img/scroll-pizza-3.png" alt="pizza" class="section-header__img">
                            
                             </header>
                         
                             <footer class="section-footer">
                            
                                 <h3 class="section-footer__h3">Pizza</h3>
                            
                                 <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                 <strong class="section-footer__strong">120$</strong>
                            
                                 <div class="footer-container">
                                
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                                
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                                
                                 </div>
                             
                             </footer>
                         
                         </section> 
                         <section class="container-section"data-pizza="3">
                        
                             <header class="section-header">
                            
                                 <img src="./settings/img/scroll-pizza-5.png" alt="pizza" class="section-header__img">
                            
                             </header>
                         
                             <footer class="section-footer">
                            
                                 <h3 class="section-footer__h3">Pizza</h3>
                            
                                 <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                 <strong class="section-footer__strong">120$</strong>
                            
                                 <div class="footer-container">
                                
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                                
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                                
                                 </div>
                             
                             </footer>
                         
                         </section> 
                         <section class="container-section" data-pizza="4">
                        
                             <header class="section-header">
                            
                                 <img src="./settings/img/scroll-pizza-1.png" alt="pizza" class="section-header__img">
                            
                             </header>
                         
                             <footer class="section-footer">
                            
                                 <h3 class="section-footer__h3">Pizza</h3>
                            
                                 <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                 <strong class="section-footer__strong">120$</strong>
                            
                                 <div class="footer-container">
                                
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                                
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                                
                                 </div>
                             
                             </footer>
                         
                         </section> 
                         <section class="container-section" data-pizza="5">
                        
                             <header class="section-header">
                            
                                 <img src="./settings/img/scroll-pizza-3.png" alt="pizza" class="section-header__img">
                            
                             </header>
                         
                             <footer class="section-footer">
                            
                                 <h3 class="section-footer__h3">Pizza</h3>
                            
                                 <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                 <strong class="section-footer__strong">120$</strong>
                            
                                 <div class="footer-container">
                                
                                     <button class="footer-container__button-fill" id="btn-fill"></button>
                                
                                     <div class="footer-container__vista" id="pantalla"></div>
                                
                                     <button class="footer-container__button-plus" id="btn-plus"></button>
                                
                                 </div>
                             
                             </footer>
                         
                         </section> 
                     </div>

                 </section> 

                 <section class="section-pizza">    

                    <h2 class="pizza-h2">Empanadas</h2>

                    <div class="pizza-container">
                   
                        <section class="container-section" data-empanada="1">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-empanada-2.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>
                               
                                <strong class="section-footer__strong">120$</strong>

                                <div class="footer-container">
                               
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-empanada="2">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-empanada-5.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section"data-empanada="3">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-empanada-2.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-empanada="4">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-empanada-5.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-empanada="5">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-empanada-2.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                    </div>

                </section>

                <section class="section-pizza">    

                    <h2 class="pizza-h2">Bebidas</h2>

                    <div class="pizza-container">
                   
                        <section class="container-section" data-bebida="1">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-coca.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>
                               
                                <strong class="section-footer__strong">120$</strong>

                                <div class="footer-container">
                               
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-bebida="2">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-cerveza.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section"data-bebida="3">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-fanta.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-bebida="4">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-coca.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-bebida="5">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-cerveza.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                    </div>

                </section>


                <section class="section-pizza">    

                    <h2 class="pizza-h2">Postres</h2>

                    <div class="pizza-container">
                   
                        <section class="container-section" data-postre="1">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-postre-2.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>
                               
                                <strong class="section-footer__strong">120$</strong>

                                <div class="footer-container">
                               
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-postre="2">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-postre-3.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section"data-postre="3">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-postre-5.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-postre="4">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-postre-2.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                   <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                   <div class="footer-container__vista" id="pantalla"></div>
                              
                                   <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                        <section class="container-section" data-postre="5">
                       
                            <header class="section-header">
                           
                                <img src="./settings/img/scroll-postre-3.png" alt="pizza" class="section-header__img">
                           
                            </header>
                        
                            <footer class="section-footer">
                           
                                <h3 class="section-footer__h3">Pizza</h3>
                           
                                <p class="section-footer__p">las pizzas mas ricas del mundo</p>

                                <strong class="section-footer__strong">120$</strong>
                           
                                <div class="footer-container">
                               
                                    <button class="footer-container__button-fill" id="btn-fill"></button>
                               
                                    <div class="footer-container__vista" id="pantalla"></div>
                               
                                    <button class="footer-container__button-plus" id="btn-plus"></button>
                               
                                </div>
                            
                            </footer>
                        
                        </section> 
                    </div>

                </section>

         </section>

     </main>
    

     <script src="./js/index.js"></script>

</body>
</html>