<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzerua Don Remolon</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400;500&display=swap" rel="stylesheet">
    <!-- font-family: 'Lexend Deca', sans-serif; -->
  </head>
  <body>

      <!--* Comienzo de proyecto seba -->

      <header class="herader">

          <div class="header-container-uno">

            <img src="./assets/icons/Logo.svg" alt="logo" class="container-uno__icon"> 
            
            <div class="container-uno-direcciones">
              
              <p class="container-uno-direcciones__paraffo">Entragar en</p>

              <img src="./assets/icons/map_navar.svg" alt="map icon" class="container-uno-direcciones__icon">

              <select name="direcciones" class="container-uno-direcciones__select">

                <option value="1">Belgrano 574,Buenos Aires</option>
                <option value="2">Libertad 1253,Garin</option>
                <option value="3">Belgrano 575,Buenos Aires</option>

              </select>

            </div>

          </div>

          <div class="header-contenedor">
            
            <img src="./assets/icons/Search_Icon.svg" alt="search icono" class="heder-icon-search">
            <input type="search" name="search" id="search" class="heaader-search" placeholder="Buscar productos...">
            
          </div>



          <button class="heaader-button">0</button>

      </header>


      <main>

        <div class="main-conatiner-hero">

          <img src="./assets/img/HeroImage.png" alt="hero imagen" class="main-conatiner-hero__img-hero">

        </div>

        <section class="mian-section-uno">

          <header class="mian-section-uno-header">

            <h1 class="section-header__titulo">Productos</h1>

            <nav class="section-header-nav">

              <ul class="header-nav-ul">
  
                <li class="nav-ul-li"><button class="nav-ul-li-button">PIZZAS</button></li>
                <li class="nav-ul-li"><button class="nav-ul-li-button">EMPANADAS</button></li>
                <li class="nav-ul-li"><button class="nav-ul-li-button">BEBIDAS</button></li>
                <li class="nav-ul-li"><button class="nav-ul-li-button">POSTRES</button></li>
  
              </ul>
              

            </nav>

          </header>

        </section>

        <section class="main-section">

          <h2 class="main-section__subtitulo">Pizzas</h2>

            <article class="main-section-article">

              <header class="article-header">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

              </header>

              <footer class="section-dos-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>  

            
            <article class="main-section-article">

              <header class="article-header">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

              </header>

              <footer class="section-dos-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

            
            <article class="main-section-article">

              <header class="article-header">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

              </header>

              <footer class="section-dos-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

            
            <article class="main-section-article">

              <header class="article-header">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

              </header>

              <footer class="section-dos-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

            
            <article class="main-section-article">

              <header class="article-header">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

              </header>

              <footer class="section-dos-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

            
            <article class="main-section-article">

              <header class="article-header">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

              </header>

              <footer class="section-dos-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

            
            <article class="main-section-article">

              <header class="article-header">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

              </header>

              <footer class="section-dos-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

            
            <article class="main-section-article">

              <header class="article-header">

                <img src="./assets/img/Img-pizzas.png" alt="pizza" class="article-header__img">

              </header>

              <footer class="section-dos-article-footer">

                <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

                <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

                <p  class="article-footer__parrafo">$500</p>

                <button class="article-footer__button">AGREGAR</button> 

              </footer>

            </article>

        </section>

        <section class="main-section">

          <h2 class="main-section__subtitulo">Empanadas</h2>

          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

        </section>


        <section class="main-section">

          <h2 class="main-section__subtitulo">Bebidas</h2>

          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

        </section>

        <section class="main-section">

          <h2 class="main-section__subtitulo">Postres</h2>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>


          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

          
          <article class="main-section-article">

            <header class="article-header">

              <img src="./assets/img/Img-empanadas.png" alt="empanada" class="article-header__img">

            </header>

            <footer class="section-tres-article-footer">

              <h3 class="article-footer__sub-subtitle">MUZZARELLA</h3>

              <strong class="article-footer__strong">Salsa,muzzarella,aceintuna,oregono</strong>

              <p  class="article-footer__parrafo">$500</p>

              <button class="article-footer__button">AGREGAR</button> 

            </footer>

          </article>

        </section>

      </main>

      <!--* ACA TERMINA LO DE SEBA XD -->


    <script type="module" src="./js/main.js"></script>
    <!-- <script type="nomodule"></script> -->
  </body> 
</html>
