:root{

    /** COLORES PRINCIPALES */

    --main-color:rgb(201, 54, 19);
    --secondary-color: rgb(249, 136, 49);
    --tertiary-color: rgb(94, 60, 55);
    --while: rgb(235, 232, 226);
    --color-yellow:rgb(249, 229, 49);
    --gey:rgb(197, 187, 174);
    --black:rgb(14, 12, 15);
    --error-cancel:rgb(255, 7, 1);
    --succes:rgb(43, 107, 4);

    /** CATALOGOS */
    --catalogo-pizza: rgb(154, 33, 12);
    --catalogo-empanada: rgb(100, 48, 17);
    --catalogo-postre: rgb(2, 82, 100);
    --catalogo-bebidas: rgb(144, 28, 49);

    --main-font: 'Lexend Deca', sans-serif;

}

html{

  box-sizing: border-box;
}

*,
::after,
::before{

  box-sizing: inherit;
}

body{

  margin:0;
  padding: 0;
  font-family: var(--main-font);
}

ul,
li{
  margin:0;
  padding: 0;
  list-style-type: none;
}

button{

  background:none;
  border: none;
  cursor: pointer;
}